<!-- Footer com W3.CSS -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <div class="w3-content" style="max-width:1400px;">
    <div class="w3-row">
      <div class="w3-col m6 s12 w3-center w3-mobile" style="padding: 8px 0;">
        <p style="margin: 0;">
          <i class="fa fa-copyright"></i> <%= Time.current.year %> Cinelog - 
          Todos os direitos reservados
        </p>
      </div>
      <div class="w3-col m6 s12 w3-center w3-mobile" style="padding: 8px 0;">
        <p style="margin: 0;">
          <i class="fa fa-film"></i> Sistema de Gestão de Filmes
        </p>
      </div>
    </div>
  </div>
</footer>
